/* universal styling */
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* overwriting default a tag stytling */
a{
  text-decoration: none;
}
/* applies styling to all images */
img{
  max-width: 100%;
  height: auto;
}
/* centers header */
header{
    height: 25%;
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-image: url('images/yarn.jpg');
    filter: blur(5px);
    background-size: 100% auto;
}
header h1{
}
#mapid{
    height: 180px;
}
/* fixes footer to bottom of page */
#footer{
  height: 20%;
  background-color: grey;
  padding: 10px;
}
/* filler to see aproximate sizing of divs */
#items{
  padding: 5px;
  height: auto;
}

#page-break{
    width: 100%;
    height: 50px;
    background-color: red;
}
#page-break h1{
    margin: 0;
}

/* Styling for Navigation */
.navigation{
    background color: red;
}

/* different section colors */
#about{
    background-color: #D2691E;
      padding: 0px;
}
#products{
      padding: 0px;
}
#contact{
    padding: 0px;
}
nav ul{
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}
/* styling for navigation buttons */
nav ul li{
    display: inline-block;
    padding: 20px;
    background-color: red;
}
/* creates menu toggle for mobile display */
.handle{
    width: 100%;
    background: red;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    display: none;
}
/* break poing for lg screens (more than 1200px) */
@media screen and (min-width:1200px){
  header{
      height: 250px;
  }
  
  .nav-li{
      width: 33%;
  }
}
/* break point for medium screens (less than 1199px) */
@media screen and (max-width:1199px){
  .nav-li{
      width: 33%;
  }
}
/* break point for small screens (less than 991px) */
@media screen and (max-width:991px){

}
/* break point for XS screens (less than 768px) */
@media screen and (max-width:768px){
  nav ul{
      max-height: 0;
  }
/* toggled using jquery */
  .showing{
      max-height: 20em;
  }
  nav ul li{
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: left;

  }
/*   displays menu handle on mobile devices */
  .handle{
    display: block;
  }
  }
