body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* overwriting default a tag stytling */
a{
  text-decoration: none;
}
/* applies styling to all images */
img{
  max-width: 100%;
  height: auto;
  margin: 0 0 10px 0;
}
/* centers header */
header{
    width: 100%;
    padding: 40px 0;
    text-align: center;
    background-color: blue;
}
/* fixes footer to bottom of page */
#footer{
  width: 100%;
  background-color: grey;
  position: fixed;
  bottom: 0;
}
/* filler to see aproximate sizing of divs */
#products{
  border: 2px solid black;
  background-color: red;
}


/* Styling for Navigation */
.navigation{
    background color: red;
}

nav ul{
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0;
    -webkit-trtransition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}
/* styling for navigation buttons */
nav ul li{
    display: inline-block;
    padding: 20px;
    background-color: red;
}
/* creates menu toggle for mobile display */
.handle{
    width: 100%;
    background: red;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    display: none;
}
/* break poing for lg screens (more than 1200px) */
@media screen and (min-width:1200px){

}
/* break point for medium screens (less than 1199px) */
@media screen and (max-width:1199px){
  width: 100%;
}
/* break point for small screens (less than 991px) */
@media screen and (max-width:991px){
  width: 100%;
}
/* break point for XS screens (less than 768px) */
@media screen and (max-width:768px){
  nav ul{
      max-height: 0;
  }
/* toggled using jquery */
  .showing{
      max-height: 20em;
  }
  nav ul li{
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: left;

  }
/*   displays menu handle on mobile devices */
  .handle{
    display: block;
  }
  }
}
