@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/* universal styling */
body{
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    color: #ECECEA;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
}
li{
    list-style-type: none;
}
#page-break{
    width: 100%;
    height: 50px;
    background-color: #57935D;
}
#page-break h1{
    margin: 0;
}

/* Styling for Navigation */
.navigation{
    color: #578E93;
    z-index: 2;
    position: fixed;
    width: 100%;
}
.nav-container{
    background-color: #578E93;
    margin-left: 0px;
}
nav ul{
    overflow: hidden;
    padding: 0;
/*     text-align: center; */
    margin: 0;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
}
/* styling for navigation buttons */
nav ul li{
    display: inline-block;
    padding: 20px;
    background-color: #578E93;
    color: white;
    float: left;
}
/* creates menu toggle for mobile display */
.handle{
    width: 100%;
/*     background: red; */
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    display: none;
}
.handle p{
  color: white;
  margin-top: 10px;
}
.glyphicon-menu-hamburger{
    color: black;
    font-size: 30px;
}
/* end navigation styles */

/* styling for header */
.header{
    height: 15%;
    max-height: 300px;
    width: 100%;
    text-align: center;
    background-size: 100% auto;
    position: relative;
    z-index: 1;
}
.header img{
    filter: blur(5px);
    width: 100%;
    height: auto;
    max-height: 300px;
}
.header h1{
    position: absolute;
    top: 40%;
    width: 100%;
}

/* about styles */
#about{
    background-color: #ECECEA;
      padding: 20px;
}

/* Styling for product section */
#products{
      padding: 0px;
}
#product-break{
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin: auto;
}


#items{
  padding: 5px;
  height: auto;
}
#beanies{
    background-color: #ECECEA;
}
.beanies-break{
      color: #74AFAD;
}
#scarfs{
  background-color: #ECECEA;
}
.scarf-break{
    color: #F08A1E;
}
#misc{
    background-color: #ECECEA;
}
.misc-break{
    color: #C9432B;
}
.product-subhead{
    display: inline;
}
/* End Styling for products section */

/* Begin Styling for connect section */
#mapid{
    height: 300px;
    z-index: 1;
}
.connect-p{
    margin: auto;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
/* Begin styling for footer */
#footer{
  height: 20%;
  background-color: #558C89;
  padding: 10px;
}
.disclaimer{
    text-align: center;
}

/* Styling for validation form */
.go-back{
    color: white;
}
.error{
    color: red; 
}

/* Styling for social media tags */
._12 {
    font-size: 1.2em;
}
._14 {
    font-size: 1.4em;
}

.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
}
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: 10px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}
.fa-facebook {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-facebook:hover {
    background-color: #3d5b99;
}
.fa-twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-twitter:hover {
    background-color: #00aced;
}
.fa-rss {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-rss:hover {
    background-color: #eb8231;
}
.fa-youtube {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-youtube:hover {
    background-color: #e64a41;
}
.fa-linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-linkedin:hover {
    background-color: #0073a4;
}
.fa-google-plus {
    padding:10px 9px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #322f30;
}
.fa-google-plus:hover {
    background-color: #e25714;
}

/* break poing for lg screens (more than 1200px) */
@media screen and (min-width:1200px){
  header{
      height: 250px;
  }
  
}
/* break point for medium screens (less than 1199px) */
@media screen and (max-width:1199px){

}
/* break point for small screens (less than 991px) */
@media screen and (max-width:991px){

}
/* break point for XS screens (less than 768px) */
@media screen and (max-width:768px){
/*  Responsive navigation styling */
  nav ul{
      max-height: 0;
  }
/* toggled using jquery */
  .showing{
      max-height: 20em;
  }
  nav ul li{
      box-sizing: border-box;
      width: 100%;
      padding: 15px;
      text-align: left;

  }
/*   displays menu handle on mobile devices */
  .handle{
    display: block;
  }
  .header{
      padding-bottom: 0px;
  }
/*   Product overflow */

  }
